@tailwind components;
@tailwind utilities;

.javascript-beautifier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.config {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.editor {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: monospace;
    font-size: 14px;
}

.btn {
    align-self: flex-start;
}

.form-checkbox {
    border: 1px solid;
}

input.form-input {
    width: 80px;
}