@import "tailwindcss";

.csv-to-json-converter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.file-input {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.config {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
}

.csv-to-json-converter .form-select {
    @apply w-36;
}