@import "tailwindcss";

.regex-expression-tester {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.result-container {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.result-string {
    white-space: pre-wrap;
    font-family: monospace;
}

mark {
    background-color: yellow;
    color: black;
}