@tailwind components;
@tailwind utilities;

.preview-box {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    margin: 10px 0;
    position: relative;
}

.color-values p {
    margin: 5px 0;
}

input[type=color] {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    height: 1px;
    visibility: hidden;
}

.res-item {
    text-align: center;
    font-size: 24px;
}