@import "tailwindcss";

.btn {
    @apply font-sans inline-block text-white bg-gradient-to-r hover:bg-gradient-to-br focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer;
}

.btn-blue {
    @apply from-blue-500 via-blue-600 to-blue-700 focus:ring-blue-300 dark:focus:ring-blue-800;
}

.btn-red {
    @apply from-red-400 via-red-500 to-red-600 focus:ring-red-300 dark:focus:ring-red-800;
}

.btn-green {
    @apply from-green-400 via-green-500 to-green-600 focus:ring-green-300 dark:focus:ring-green-800;
}

.btn-sm {
    padding: 0.4rem 0.75rem;
}