.row {
    --t-padding: 0;
    --t-margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    padding: var(--t-padding);
    margin: var(--t-margin);
}

.row * {
    box-sizing: border-box;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1 0 0%;
}