.json-to-csv-converter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.config {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.json-to-csv-converter .form-select {
    @apply w-36;
}