name: Publish @tooloogle/tools NPM Package

on:
  workflow_dispatch:

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures

      - run: npm run build:tools

      - name: Run tests
        run: npm test

      - name: Verify ssr html generation
        run: node ./scripts/web-component-ssr-html.js

      - name: Prepare dist for release
        run: |
          cp package.json dist/package.json
          cp package-lock.json dist/package-lock.json
          cp README.md dist/README.md
          cp LICENSE dist/LICENSE

      - name: Publish npm package
        run: |
          npm install -g @semantic-release/changelog @semantic-release/git semantic-release
          semantic-release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}